<a href="https://colab.research.google.com/github/soriarty-pt536/soriarty-pt536/blob/main/Day1_Task_0_handout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task 1

Handling variables:<br>
- Set the variable “radius” to value of 4 <br>
- Calculate the area of circle,  please remember that the area of a circle is  pi x radius^2<br>
- The rectangle width should be 10 and a rectangle height should be 6.

In [ ]:
import math
pi = math.pi
# set the radius to value 4
radius = ...
# Calculate the area of circle
area_of_circle= ...
# The rectangle width should be 10 and a rectangle height should be 6.
rectangle_width= ...
rectangle_height= ...

## Assert Cells

During  practice sessions sometimes you will see “assert” cells, which can check your work. 
In these cells you will usually see only assert lines, which check the result of your previous cells.<br>
You have to run them and please do not change them. If you get an error please check your  implementation in the previous cells. Sometimes it can happen that you mess up your own work, maybe re run all cells could help (You can run all the cells by one click,  search for run all in the menu)

In [ ]:
# You have to run this cell and please do not change the lines
assert (int(area_of_circle )== 50),"check your implementation"
assert (int(rectangle_width * rectangle_height)== 60),"check your implementation"

## Task 2

- Please print  the  "area_of_circle".
- The second time please print the same value with 2 decimal points

String formatting hints e.g. here: <a href="https://pyformat.info/">pyformat</a>

In [ ]:
#let's practice printing, write your code to the ...
print("area of circle: " ...)
#let's practice printing, write your code to the ..., now its is different notice the %.2f in the first half
print("area of circle: %.2f" ... )

area of circle:  50.26548245743669
area of circle: 50.27

## Task 3
Now let's change the radius and print out the value of the "area_of_circle":<br>
Set the radius variable to 3 and print "area_of_circle". Is the "area_of_circle" changed?

In [ ]:
# Set the radius variable to 3
radius = ...
# print "area_of_circle"
print(...)

50.26548245743669

What do you have to do to change value of the "area_of_circle"?

In [ ]:
# implement the area_of_circle again
area_of_circle = ...
print(area_of_circle)

28.274333882308138

See, now your code is duplicated. Why is it bad, what do you think? <br>
Hopefully you answered now, that is one of the reasons, why people use objects and functions...<br>
<br>
So let's create a function with the name "area_of_circle_func" and one imput parameter "radius":

In [ ]:
# fix the head of the funciton
... area_of_circle_func(...
    # implement the area_of_circle again
    return  ...

# just an example, calling the above defined function:
print(area_of_circle_func(3))

28.274333882308138

In [ ]:
assert (int(area_of_circle_func(345) )== 373928),"check your implementation"

## Task 4

Let's check if the area of the circle is less than 20. If yes we consider it as a small circle, otherwise big circle

In [ ]:
#implement the first half of the if.
...:
    print("this is a small circle")
    #implement otherwise:
...:
    print("this is a big circle")

this is a big circle


Now please check if your circle fits into your rectangle like this, also check if the circle touches the rectangle: <br><img src="http://drive.google.com/uc?export=view&id=155NjGVqBVjXBFphV1_mHactWJM5fDQDV"><br>
(Let's assume the centers of the circle and the rectangle are at the same position)

In [ ]:
def check_if_circle_fits_into_the_ractangle(radius):
    # implement diameter
    diameter = ...
    # check if diameter is smaller or equal to height
    if diameter <= ...
        # check if diameter is smaller or equal to width
        if diameter <= ...
            print("circle fits into rectangle")
            #check if the diameter is equal to the width or height
            if ... or ...
                print("circle touches the side of rectangle")
        else:
            print("circle does not fit to rectangle, rectangle is not wide enough.")
    else:
        print("circle does not fit to rectangle, rectangle is too small.")

# Play around with the input paramter change it to 4, and 2:
check_if_circle_fits_into_the_ractangle(3)

circle fits into rectangle
circle touches the side of rectangle

## Task 5
- let's create a list of radius number between 1 and 10
- create a loop, which prints the area for each circle radius
- Create list with list comprehension
- Introducing lambda

In [ ]:
# implement the list creation, values should be between 1 and 10
list_circle_radius=...
# iterate through the list with "for", note what the code does within each iteration:
...:
    print("Circle with radius {r} has area: {area}".format(r=r,area=area_of_circle_func(r)))
    check_if_circle_fits_into_the_ractangle(r)

Circle with radius 1 has area: 3.141592653589793
circle fits into rectangle
Circle with radius 2 has area: 12.566370614359172
circle fits into rectangle
Circle with radius 3 has area: 28.274333882308138
circle fits into rectangle
circle touches the side of rectangle
Circle with radius 4 has area: 50.26548245743669
circle does not fit to rectangle, rectangle is too small.
Circle with radius 5 has area: 78.53981633974483
circle does not fit to rectangle, rectangle is too small.
Circle with radius 6 has area: 113.09733552923255
circle does not fit to rectangle, rectangle is too small.
Circle with radius 7 has area: 153.93804002589985
circle does not fit to rectangle, rectangle is too small.
Circle with radius 8 has area: 201.06192982974676
circle does not fit to rectangle, rectangle is too small.
Circle with radius 9 has area: 254.46900494077323
circle does not fit to rectangle, rectangle is too small.
Circle with radius 10 has area: 314.1592653589793
circle does not fit to rectangle, rectangle is too small.

Let's create now the list with list comprehensions.

In [ ]:
# implement the list comprehension
# call the area_of_circle_func for each radius which is in the list_circle_radius, 
# but only if the radius is even number
# hint look at List comprehensions in the previous practice notebook
area_of_even = [area_of_circle_func(r) for r in list_circle_radius if r % 2 == 0]
area_of_even

[12.566370614359172,
 50.26548245743669,
 113.09733552923255,
 201.06192982974676,
 314.1592653589793]

In [ ]:
def sphere_surface_func(r):
    # return the surface of a sphere
    # note surface of sphere is: 4 times pi multiplyed by radius^2
    ...

even_list_radius=list(range(2, 11,2))
# Let's practice Lambda expression here:
# call sphere_surface_func with lambda
list_sphere_surface=list(map(...,even_list_radius))
list_sphere_surface

[50.26548245743669,
 201.06192982974676,
 452.3893421169302,
 804.247719318987,
 1256.6370614359173]

How to handle the data together?

In [ ]:
# nothing to implement here, just draw conclusion
# for handling the data together: a bad practice would be this:

my_data=[list_circle_radius,area_of_even,list_sphere_surface]
my_data

# and then handling the indicies

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [12.566370614359172,
  50.26548245743669,
  113.09733552923255,
  201.06192982974676,
  314.1592653589793],
 [50.26548245743669,
  201.06192982974676,
  452.3893421169302,
  804.247719318987,
  1256.6370614359173]]

Now we have multiple problems, right?
- How to select one row?
- How to filter rows?
- How can you insert one row?

It would be a huge hassle with the indices...

## Task 6

Instead of array indexing, let's try to use pandas framework. <br>
Remember pandas was created for the above  demonstrated problems,  but it's solves a lot more. <br>
Let's create dataframe with similar data as above <br>

In [ ]:
import pandas as pd

#Please create a dataframe with the rows in radius list variable "list_circle_radius" to create it.
df=...(...,columns=["radius"])

#now just add columns one by one easily, the diameter is 2 * radius
df["diameter"]=df["radius"] * ...

#add column "area of circle" use "area_of_circle_func()"
df["area of circle"]=...(df["radius"])

#add column "surface of sphere" try to use ".map()" function together with "sphere_surface_func()"
df["surface of sphere"]= df["radius"]....(lambda x: ... )

df

   radius  diameter  area of circle  surface of sphere
0       1         2        3.141593          12.566371
1       2         4       12.566371          50.265482
2       3         6       28.274334         113.097336
3       4         8       50.265482         201.061930
4       5        10       78.539816         314.159265
5       6        12      113.097336         452.389342
6       7        14      153.938040         615.752160
7       8        16      201.061930         804.247719
8       9        18      254.469005        1017.876020
9      10        20      314.159265        1256.637061

please note inplace=True, drop=False, look what these are doing in the manual. Pandas <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html"> set_index manual</a>

In [ ]:

#Please note that the indices doesn't match up with the radius values, this can lead to confusion later
#set radius as index, so you can refer on rows by the radius later.
df. ...(..., inplace=True, drop=False)
# please note inplace=True, drop=False, look what these are doing in the manual.

## Task 7

Let's practice the basic dataframe functions, accessing the data in different ways.

In [ ]:

# return only the "surface of sphere" column
df[...]

radius
1       12.566371
2       50.265482
3      113.097336
4      201.061930
5      314.159265
6      452.389342
7      615.752160
8      804.247719
9     1017.876020
10    1256.637061
Name: surface of sphere, dtype: float64

In [ ]:

#return the row with radius 3, hint: check loc and iloc
df...

radius                 3.000000
diameter               6.000000
area of circle        28.274334
surface of sphere    113.097336
Name: 3, dtype: float64

In [ ]:

#return the 3rd row, hint: check loc and iloc
df...

radius                 4.000000
diameter               8.000000
area of circle        50.265482
surface of sphere    201.061930
Name: 4, dtype: float64

In [ ]:

# create odd rows filter for the radius column:
filter_odds=... % 2 != 0
filter_odds
# note the series created:

radius
1      True
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9      True
10    False
Name: radius, dtype: bool

In [ ]:
#wipe out data of odd rows
# .loc .... =None will do this for us
# put the "area of circle" and "surface of sphere" rows to have only these columns effect on
df.loc[filter_odds,...]=None
# as a result you should see NaNs at every odd row
df

        radius  diameter  area of circle  surface of sphere
radius
1            1         2             NaN                NaN
2            2         4       12.566371          50.265482
3            3         6             NaN                NaN
4            4         8       50.265482         201.061930
5            5        10             NaN                NaN
6            6        12      113.097336         452.389342
7            7        14             NaN                NaN
8            8        16      201.061930         804.247719
9            9        18             NaN                NaN
10          10        20      314.159265        1256.637061

In [ ]:
# Let's drop the two columns: area of circle, surface of sphere
# you have to find out the function name, the input parameter, and the axis
df. ...(..., axis=...,inplace=True)
df

# Please note the inplace=True attribute setting. Play around with it, set it to False.
# check what happens? and why?

        radius  diameter
radius
1            1         2
2            2         4
3            3         6
4            4         8
5            5        10
6            6        12
7            7        14
8            8        16
9            9        18
10          10        20

## A shortcut
For your information we could do this in one step.

In [ ]:
#nothing to implement here
# For your information we could do this in one step: check the code and see how it is doing it
df["area of circle"] = df["radius"].map(lambda x: area_of_circle_func(x) if (x % 2==0) else None)
df["surface of sphere"] = df["radius"].map(lambda x: sphere_surface_func(x) if (x % 2==0) else None)

df

        radius  diameter  area of circle  surface of sphere
radius
1            1         2             NaN                NaN
2            2         4       12.566371          50.265482
3            3         6             NaN                NaN
4            4         8       50.265482         201.061930
5            5        10             NaN                NaN
6            6        12      113.097336         452.389342
7            7        14             NaN                NaN
8            8        16      201.061930         804.247719
9            9        18             NaN                NaN
10          10        20      314.159265        1256.637061